body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    text-align: center;
}

h1 {
    color:rgba(243, 7, 7, 0.87);
    font-size: 2em;
}

p {
    font-size:1.5em;
    padding: 1.2em;
    color:#000;
}

img {
    max-width: 20%;
    display: block;
    margin: 20px auto;
}