* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.body-index {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px 10px;
}

.fourth {
	padding-top: 50px;
    grid-column: span 3;
}

.third {
    grid-column: span 3;
    background-color: #f1f8fe;
    border-radius: 3px;
	margin: 5px;
	padding: 10px;
}

.fourth a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.9em;
    text-shadow: 0 0.5px 0.5px #505659;
}

#tabs {
    display: grid;
    padding: 50px;
    grid-column: span 13;
}

.accordion h3 {
    background-color: plum;
    border: plum;
    border-radius: 5px;
}

#tabs li {
    background-color: plum;
    border: plum;
}

.comms {
    margin: 0 20px;
}

.comms, h2 {
	font-style: normal;
	text-decoration: none;
}

#draggable {
    display: grid;
    grid-column: span 13;
}

#draggable .cat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-gap: 20px;
}

.cat .types {
    height: 60px;
    line-height: 60px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    background-color: plum;
    margin: auto;
}

.cat .types a {
    text-decoration: none;
    color: palevioletred;
    display: block;
    font-size: 1em;
}

.cat .types a:hover {
    color: palevioletred;
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    color: palevioletred;
    font-size: 1.8em;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    /* text-shadow: 0 0.5px 0.5px #0d5745; */
}

h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #2D2D2D;
    font-weight: bolder;
}

h3 {
    margin-bottom: 40px;
    color: rgb(59, 55, 55);
}

h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #2D2D2D;
    font-weight: lighter;
}

p {
    line-height: 1.5;
    margin-bottom: 13px;
}

.datepicker {
    margin: auto;
}

.toggler { 
    width: 500px; 
    height: 200px; 
    margin: auto;
}

#button { 
    padding: .5em 1em; 
    text-decoration: none; 
}

#effect { 
    width: 240px; 
    height: 170px; 
    padding: 0.4em; 
    position: relative; 
}

#effect h3 { 
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}
