* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.logo {
    margin: auto 25px;
    width: 170px;
}

.flex-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #46C3A6;
}

.nav {
    float: center;
    height: 80px;
    line-height: 30px;
    margin: auto;
}

.nav ul {
    margin: 0 auto;
    display: block;
    max-width: 500px;
}

.nav li {
    float: left;
    list-style-type: none;
    padding: 10px;
    margin: 15px;
    text-align: center;
    text-shadow: 0 1px 1px #000;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.9em;
}

.nav a:hover {
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    text-shadow: none;
    padding: 0 5px;
}

.nav-right {
    float: left;
    height: 80px;
    line-height: 30px;
    padding: 30px;
    margin: auto 25px;
}

.btn-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.btn-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slides {
    max-width: 100%;
    /* height: 400px;   */
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    top: 0; /* for keeping stable */
    display: block;
    width: 100%;
    background: #fff;
    z-index: 1;
}

.wrapper {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 11;
    width: 100%;
    margin: 200px auto 0px auto;
    background-color: beige;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/newsplash.jpg");
    background-size: cover;
    grid-gap: 10px 10px;
    padding: 100px;
}

.splash {
    grid-column: span 13;
    margin: 0 auto;
}

.splash p {
    margin-top: 200px;
    margin-bottom: 150px;
    color: #fff;
    font-size: 6vw;
    font-style: italic;
    text-align: center;
    text-shadow: 0 1px 1px #000;
}

.body-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 10px;
    padding: 100px;
}

.index {
    grid-column: span 13;
}

.index p {
    color: darkslategrey;
    font-size: 1.4vw;
    font-weight: bolder;
    text-align: center;
}

.full {
    grid-column: span 13;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.full-xs, .full-s, .full-m, .full-l, .full-xl{
    grid-column: span 13;
    background-color: #f1f8fe;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.sixth {
    grid-column: span 2;
    background-color: #f1f8fe;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.fourth {
    grid-column: span 3;
    background-color: #f1f8fe;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.fourth a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.9em;
    text-shadow: 0 0.5px 0.5px #505659;
}

.third {
    grid-column: span 4;
    background-color: #f1f8fe;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.forty {
    grid-column: span 5;
    background-color: #f1f8fe;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.half {
    grid-column: span 6;
    background-color: #f1f8fe;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.main .half {
    background-color: transparent;
    border-radius: 3px;
}

.main .half img {
    margin: 0 auto;
}

.twothird {
    grid-column: span 8;
    background-color: #f1f8fe;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
}

.comms {
    margin: 0 20px;
}

.comms, h2 {
    font-style: normal;
    text-decoration: none;
}

.categories {
    display: grid;
    grid-column: span 13;
}

.cat .types {
    height: 60px;
    line-height: 60px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    background-color: #D3FAF1;
    margin: auto;
}

.cat .types a {
    text-decoration: none;
    color: #1bac8a;
    display: block;
    font-size: 1em;
}

.cat .types a:hover {
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #279377;
    font-size: 1.8em;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    /* text-shadow: 0 0.5px 0.5px #0d5745; */
}

h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #2D2D2D;
    font-weight: bolder;
}

h3 {
    margin-bottom: 40px;
    color: rgb(59, 55, 55);
}

h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #2D2D2D;
    font-weight: lighter;
}

p {
    line-height: 1.5;
    margin-bottom: 13px;
}

.about {
    background-color: #f1f8fe;
    grid-column: span 13;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.about a {
    color: #505659;
    font-size: 1em;
    font-style: 200;
}

.about p {
    color: #505659;
    font-size: 0.9em;
    font-style: 200;
}

.about img {
    margin: 0 auto;
    height: 300px;
}

.register, .login {
    background: white;
    padding: 50px;
    margin:  150px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.forgotpw {
    text-decoration: none;
    color: dimgray;
    font-size: 13px;
}

.login-button {
    border-radius: 20px;
    border: 1px solid #279377;
    background-color: #27cfa8;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.login-button:active {
    transform: scale(0.95);
}

.login-button::focus {
    outline: none;
}

.signup {
    background: #f1f1f1;
    border: 4px solid #f1f1f1;
    padding: 10px;
}

footer {
    background-color: #46C3A6;
    padding-left: 40px; 
    clear: both;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#footer {
    background-color: #46C3A6;
}

.social {
    background-color: #46C3A6;
    grid-column: span 3;
}

.smbuttons {
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.social img {
    width: 20%;
    height: auto;
    color: #fff;
}

.ig {
    grid-column: span 1;
}

.tw {
    grid-column: span 1;
}

.fb {
    grid-column: span 1;
}

.copyright {
    background-color: #46C3A6;
    grid-column: span 12;
    text-align: center;
    text-shadow: 0 0.5px 0.5px #505659;
    padding: auto 0;
    color:#fff;
    margin-top: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
    .main {
        position: relative;
        width: 100%;
    }

    #viewportS {
        display: none;
    }

    #viewportM {
        display: none;
    }

    #viewportL {
        display: none;
    }

    #viewportXL {
        display: none;
    }

    #tabsS {
        display: none;
    }

    #tabsM {
        display: none;
    }

    .categories .cat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 10px;
    }

    .register-login {
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 0px 0;
        background-image: url("../images/loginbackground.png");
        background-size: cover;
    }

    footer {
        display: block;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width:601px) and (max-width:767px) {
    .main {
        position: relative;
        width: 100%;
    }

    #viewportXS {
        display: none;
    }

    #viewportM {
        display: none;
    }

    #viewportL {
        display: none;
    }

    #viewportXL {
        display: none;
    }

    #tabsS {
        grid-column: span 13;
        display: grid;
        padding-top: 50px;
    }

    #tabsM.mTabs {
        display: none;
    }
    
    .accordion h3 {
        background-color: #27cfa8;
        border:cadetblue;
        border-radius: 5px;
    }
    
    #tabsS li {
        background-color: #27cfa8;
        border:cadetblue;
    }

    .categories .cat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 10px;
    }

    .register-login {
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 0px 0;
        background-image: url("../images/loginbackground.png");
        background-size: cover;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width:768px) and (max-width:991px) {
    .main, footer {
        position: relative;
        width: 100%;
}
    #viewportXS {
        display: none;
    }

    #viewportS {
        display: none;
    }

    #tabsM {
        grid-column: span 13;
        display: grid;
        padding-top: 50px;
    }

    #tabsS.sTabs {
        display: none;
    }

    .accordion h3 {
        background-color: #27cfa8;
        border:cadetblue;
        border-radius: 5px;
    }
    
    #tabsM li {
        background-color: #27cfa8;
        border:cadetblue;
    }

    #viewportL {
        display: none;
    }

    #viewportXL {
        display: none;
    }
    .categories .cat {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 33% 33% 33%;
        grid-gap: 10px 10px;
    }

    .register-login {
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 0px 0;
        background-image: url("../images/loginbackground.png");
        background-size: cover;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width:992px) and (max-width:1199px) {
    .main, footer {
        position: relative;
        width: 100%;
    }

    #viewportXS {
        display: none;
    }

    #viewportS {
        display: none;
    }

    #viewportM {
        display: none;
    }

    #viewportXL {
        display: none;
    }
    
    #tabsS {
        display: none;
    }

    #tabsM {
        display: none;
    }

    .categories .cat {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 33% 33% 33%;
        grid-gap: 10px 10px;
    }

    .register-login {
        display: grid;
        grid-template-rows: 50% 50%;
        padding: 0px 0;
        background-image: url("../images/loginbackground.png");
        background-size: cover;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {
    .main, footer {
        position: relative;
        width: 100%;
    }
    #viewportXS {
        display: none;
    }

    #viewportS {
        display: none;
    }

    #viewportM {
        display: none;
    }

    #viewportL {
        display: none;
    }

    #tabsS {
        display: none;
    }

    #tabsM {
        display: none;
    }

    .categories .cat {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 33% 33% 33%;
        grid-gap: 10px 10px;
    }

    .register-login {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0px 0;
        background-image: url("../images/loginbackground.png");
        background-size: cover;
    }

}
